@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 200;
  background-color: rgb(245, 244, 244);
  color: rgb(21, 47, 78);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'noe-display-medium';
  src: url('/fonts/noe-display-medium-v11/noe-display-medium-v11.eot');
  src: url('/fonts/noe-display-medium-v11/noe-display-medium-v11.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

h1,
h2 {
  font-family: noe-display-medium;
  font-weight: normal;
}

/* h2 {
  font-weight: 200;
} */

a {
  z-index: 0;
  position: relative;
}

a::before {
  content: '';
  position: absolute;
  bottom: 0.05em;
  height: 0.15em;
  left: 0;
  right: 0;
  background-color: #ffd94a;
  z-index: -1;
}
